
*{
  font-family: 'Comfortaa', cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.w3-half{
  background-color: 'rgba(173,216,230, 0.2)';
}
.w3-lobster {
  font-family: "Lobster", serif;
}

.ul {
  list-style-type: square;
  padding-left: 20px;
}

.b-img{
  /*background-image: url('./img/1.jpg');*/
  background-size:cover;
  background-color: #ffffff;
}
.header {
  overflow: auto;
  background-image: url('./img/med.jpg');
  background-size: cover;
  background-color: lightblue;
  width: 100%;
  padding: 10px 10px;

  /* background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative; */
  /* z-index: 1; */
  /* display: flex;
  align-items: center;
  justify-content: center;  */
}

.footer {
  overflow: auto;
  background: rgba(173,216,230, 0.2);
  position: static;
  left: 0;
  bottom: 0;
  padding: 5px;
  width: 100%;
  color: black;
  text-align: center;
  
}

h1,h2,h3,h4,h5{
  font-family: 'Comfortaa', cursive;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile + label {
  color: black;
  background-color: lightgrey;
  display: inline-block;
  padding: 6px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border-style: auto;
  outline-style: auto;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(250, 250, 250);
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  align-content: center;
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: auto;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}