h1{
	font-weight: 100;
	text-transform: uppercase;
	color: black;
	font-style: italic;
	font-family:  sans-serif;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px 0 rgba(245, 119, 119, 0.39);
}